<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link href="./contact.css" rel="stylesheet" media="screen" />
    <link href="../../components/shared/style.css" rel="stylesheet" media="screen" />

    <title>Document</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="content">
        <div class="logo"><a href="../../index.html"><img src="../../img/logo.png" alt="Logo__FullState" /></a></div>
        <ul class="menu-list">
          <div class="icon cancel-btn">
            <img src="../../img/menu/icons8-x-64.png" alt="" />
          </div>
          <li><a href="../../index.html">Blog</a></li>
          <li><a href="./index.html">Contact</a></li>
          <li><a href="../login/login.html">Login</a></li>
        </ul>
        <div class="icon menu-btn">
          <img src="../../img/menu/icons8-menú-50.png" alt="" />
        </div>
      </div>
    </nav>

    <div class="banner"></div>

    <div class="contact">
      <div class="contact__container">
        <div class="contact__form">
          <h2 class="contact__title">CONTACT</h2>
          <form>
            <div class="contact__inputBox">
              <input  type="text" placeholder="Your Name" />
            </div>
            <div class="contact__inputBox">
              <input type="number" placeholder="Your Phone" />
            </div>
            <div class="contact__inputBox">
              <input type="text" placeholder="Your e-mail" required/>
            </div>
            <div class="contact__inputBox">
              <input  type="text" placeholder="Messaje" />
            </div>
            <div class="contact__inputBox">
              <input class="button" type="submit" value="SEND MESSAGE" />
        
            </div>
  
          </form>
        </div>
      </div>
    </div>
   

    <!-- Footer area - footer_medium -->
    <footer class="section_area footer_medium">
      <div class="container">
        <div class="row-fluid">
          <!-- testimonials -->
          <div class="span3">
            <h3>Contact Us</h3>
            <ul class="contact_footer">
              <li>
                <a href="../../index.html">example@example.com</a>
              </li>
              <li>
                <a href="../../index.html">55-5698-4589</a>
              </li>
              <li>
                <a href="../../index.html"> Av new stret</a><br />
                <a href="../../index.html"> New York</a>
              </li>
            </ul>
          </div>
          <!-- End testimonials -->

          <!-- newsletter -->
          <div class="span3 links">
            <h3>Useful links</h3>
            <ul>
              <li><a href="../../index.html">About Us</a></li>
              <li><a href="../../index.html">Services</a></li>
              <li><a href="../../index.html">Properties</a></li>
              <li><a href="../../index.html">Our Agents</a></li>
            </ul>
          </div>
          <!-- End newsletter -->

          <!-- Tags -->
          <div class="span3 padding_items">
            <h3>Tag Cloud</h3>
            <ul class="tags">
              <li><a href="../../index.html">Blog</a></li>
              <li><a href="../../index.html">Web Desing</a></li>
              <li><a href="../../index.html">News</a></li>
              <li><a href="../../index.html">Internet</a></li>
              <li><a href="../../index.html">Audio</a></li>
              <li><a href="../../index.html">Image</a></li>
              <li><a href="../../index.html">Blog</a></li>
              <li><a href="../../index.html">Web Desing</a></li>
              <li><a href="../../index.html">News</a></li>
            </ul>
          </div>
          <!-- End Tags -->

          <!-- Contact Footer -->
          <div class="span3">
            <div class="testimonials">
              <p>
                Lorem ipsum ea cum congue bonorum, pri no natum clita. His ne
                vide omnis forensibus. Eum cetero imperdiet et.!
              </p>
              <span class="arrow_testimonials"></span>
            </div>
            <h6 class="testimonial_autor">Juan David Rendon - Web Desinger</h6>
          </div>
          <!-- End Contact Footer -->
        </div>
      </div>
    </footer>
    <!-- End Footer area - footer_medium -->

    <!-- Footer area - footer_down -->
    <footer class="section_area footer_down">
      <div class="container">
        <div class="row-fluid-footer">
          <div class="span6">
            <p>
              &copy; 2013 Realte - Real State Template. All rights reserved.
            </p>
          </div>
          <div class="span6">
            <ul class="social">
              <li class="tooltip_hover" title="Facebook">
                <a href="../../index.html"><img src="../../css/icons/facebook.png" alt="Icon__Facebook" /></a>
              </li>
              <li class="tooltip_hover" title="Twitter">
                <a href="../../index.html"><img src="../../css/icons/twitter.png" alt="Icon__Twitter" /></a>
              </li>
              <li class="tooltip_hover" title="Google Plus">
                <a href="../../index.html"><img src="../../css/icons/google-plus.png" alt="Icon__GooglePlus" /></a>
              </li>
              <li class="tooltip_hover" title="Pinterest">
                <a href="../../index.html"><img src="../../css/icons/pinterest.png" alt="Icon__Pinterest" /></a>
              </li>
              <li class="tooltip_hover" title="Linkedin">
                <a href="../../index.html"><img src="../../css/icons/linkedin.png" alt="Icon__Linkedlin" /></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="../../components/shared/index.js"></script>
  </body>
</html>
